// Fuentes principales del portafolio
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Kaushan+Script|Lobster|Montserrat&display=swap');

$fontKaushan: 'Kaushan Script', cursive;
$fontLobster: 'Lobster', cursive;
$fontMontserrat: 'Montserrat', sans-serif;
$fontFira: 'Fira Sans', sans-serif;

