/* Definiendo estilos principales del portafolio */
@import '_colors.scss';
@import '_fonts.scss';
@import 'components/all';

// Reseteando estilos del portafolio
body {
  box-sizing: initial;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  border: none;
}

.portada {
  background: white;
  display: grid;
  grid-template-columns: .4fr .6fr;

  .portada-foto {
    background-image: url('../img/cat.jpg');
    height: 100vh;
    // opacity: .4;
    // background-size: cover;
    // background-position: center;
    // text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portada-descripcion {
    // text-align: center;
    // margin-left: -70px;
    // margin-right: 70px;
    // background-color: white;
    // -ms-transform: skew(-10deg);
    // -webkit-transform: skew(-10deg);
    // transform: skew(-10deg);
    padding: 0 20px;
    font-family: $fontFira;
    display: grid;
    // grid-column: initial;
    grid-template-rows: 50px 1fr 50px;

    nav {
      // -ms-transform: skew(10deg);
      // -webkit-transform: skew(10deg);
      // transform: skew(10deg);
    }

    .portada-nav-top {
      align-self: center;
      text-align: right;
      font-size: .9rem;

      // -ms-transform: skew(10deg);// IE 9
      // -webkit-transform: skew(10deg);// Safari
      // transform: skew(10deg);

      a {
        font-family: $fontMontserrat;
        color: rgba(1, 1, 1, 0.915);
        font-weight: 600;
        text-decoration: none;
        // padding: 10px;
        padding: 1rem 1rem;

        &:hover {
          background-color: #fafafa;
          color: #214574;
        }
      }

      .btn-portada {
        font-size: .9rem;
        background-color: #214574;
        padding: .2rem 1rem;
        color: white;
        border-radius: 5px;
        border: 1px solid #162f4e;
      }
    }

    .portada-descripcion-content {
      // background-color: #fafafa;
      text-align: center;
      // margin-right: 20px;
      // -ms-transform: skew(10deg);// IE 9
      // -webkit-transform: skew(10deg);// Safari
      // transform: skew(10deg);
    }

    .portada-nav-bottom {
      align-self: center;
      text-align: left;

      // -ms-transform: skew(10deg);// IE 9
      // -webkit-transform: skew(10deg);// Safari
      // transform: skew(10deg);
      // a {
      //   text-decoration: none;
      // }
      // background-color: blue;
      .link-social {
        // background-color: #fafafa;
        text-align: center;
        font-size: 1.5rem;
        color: rgba(1, 1, 1, 0.815);
        padding: .3rem;
        margin: 0 .2rem;
        
        &:hover {
          background-color: #fafafa;
          color: #162f4e;
          border-radius: 50%;
        }
      }
    }
  }
}