// Estilos de progress

progress {
  border-radius: 7px;
  border: 1px solid #cacaca;
}

//Estilo para Safari y Chrome
progress::-webkit-progress-bar {
  background-color: #214574;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: #214574;
  border-radius: 7px;
}

// estilos para Firefox
progress::-moz-progress-bar {
  background-color: #214574;
  border-radius: 7px;
}